@model BankingWebSite.Models.TransactionViewModel

@{
	ViewData["Title"] = "Details Transaction";
}

<h1>Details</h1>

<div>
	<h4>Transaction</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Date)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Date)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Amount)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Amount) €
		</dd>
		<dt class="col-sm-2">
			Account
		</dt>
		<dd class="col-sm-10">
			<a asp-controller="Accounts" asp-action="Details" asp-route-id="@Model.AccountId">@Html.DisplayFor(model => model.AccountNumber)</a>
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
	<a asp-action="Index">Back to List</a>
</div>
