@model BankingWebSite.Models.UserAccountViewModel

@{
	ViewData["Title"] = "Details UserAccount";
}

<h1>Details</h1>

<div>
	<h4>UserAccount</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.User)
		</dt>
		<dd class="col-sm-10">
			<a asp-controller="Users" asp-action="Details" asp-route-id="@Model.User.Id">@Html.DisplayFor(modelItem => Model.User.FirstName) @Html.DisplayFor(modelItem => Model.User.LastName)</a>
		</dd>

		<dt class="col-sm-2">
			Account
		</dt>
		@*<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Account.Id)
		</dd>*@
		<dd class="col-sm-10">
			<a asp-controller="Accounts" asp-action="Details" asp-route-id="@Model.AccountId">@Html.DisplayFor(modelItem => Model.AccountNumber)</a>
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Index">Back to List</a>
</div>
